Struktur Bahasa Python 


1. Statements

instruksi yang diberikan secara baris per baris untuk dijalankan oleh program

2. Variables

pengindentifikasian yang  digunakan untuk menampung sebuah data atau informasi

3. Literals

data atau informasi yang digunakan untuk mengisi suatu variabel

4. Operators

simbol-simbol yang digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

5. Reserved Words

kumpulan kata-kata yang memiliki makna khusus dalam bahasa pemrograman Python dan tidak dapat digunakan untuk variables dan literals

6. Whitespace

pada bahasa Python, spasi dan tab memiliki makna khusus untuk menandai serangkaian blok dalam kode Python

7. Comments

merupakan sekumpulan teks yang dituliskan di dalam sebuah program yang tidak akan mempengaruhi hasil dari sebuah program

In [1]:
print("Hello World.")
print("Saya Aksara, baru belajar Python.")

# Note:
# - Kata "Hello World." & "Saya Aksara, baru belajar Python." disebut dengan statement.
# - print() adalah fungsi dasar python untuk mencetak tulisan yang diberikan

Hello World.
Saya Aksara, baru belajar Python.

Variables di Python

Sekarang kita akan mempelajari teknik penulisan variable pada Python dengan mengikuti contoh yang sudah disediakan Senja. Berikut adalah tiga aturan penting yang wajib diikuti pada saat kita mendeklarasikan suatu variabel di Python. 

1. Nama dari sebuah variabel harus dimulai dengan huruf (a-z, A-Z)
atau karakter garis bawah/underscore (_) dan tidak dapat dimulai dengan angka (0-9).

2. Variabel hanya boleh mengandung karakter alfabet dan bilangan dan underscore
(a-z, A-Z, 0-9, _)

3. Variabel bersifat case-sensitive yang mengartikan bahwa
variabel TINGGI, tinggi, dan Tinggi merujuk pada tiga variabel berbeda.

In [3]:
bil1 = 10 
Bil_2 = 20
Frasa = "Halo Dunia"
bil1, Bil_2 = 10, 20
salam = "Selamat Pagi"; Penutup = "Salam Sejahtera"

COMMENT 

Comments adalah sekumpulan teks yang dituliskan dalam sebuah program dan tidak akan mempengaruhi hasil dari sebuah program. Berikut adalah contoh penulisan single line comment & multi line comment pada python. 

#untuk menulis single line comment, atau 
'''
komentar ini
lebih dari 1 baris
''' 
untuk menulis multi line comment.

In [4]:
#perintah pada baris ini tidak mempengaruhi program
...
"perintah ini tidak akan dieksekusi oleh python"
"dan perintah ini juga tidak akan dieksekusi"
"perintah ini juga tidak akan dieksekusi"
...
print("jadi # digunakan untuk membuat comment pada Python")

jadi # digunakan untuk membuat comment pada Python

# Tipe Data Python - part 1
Secara garis besar, ada beragam tipe data di Python seperti yang digambarkan pada diagram dibawah: 

1. None --> NoneType
2. Numeric : 
    - Int
    - Float
3. Boolean --> Bool
4. Sequence : 
    - str
    - list
    - tuple
5. Set --> Set
6. Map --> Dict

# Tipe Data Python - part 2

Tabel berikut menjelaskan keterangan dari tipe data sequence, set, dan map:

1. Sequence 
    - str
Tipe data teks yang dapat berupa huruf, kata, frasa, kalimat atau paragraf yang diapit oleh ‘ atau “

Contoh:

“a”; ‘b’; ‘saya’; “Belajar Python”; “Kita makan nasi goreng”

    Gunakan fungsi str()

    Contoh:

    str(5.3) → “5.3”;

    str([1, ‘buku’]) → "[1, 'buku']"
    
    
    -list
Urutan bilangan dan teks yang diapit oleh kurung siku dan masing-masing elemennya dipisahkan dengan koma.

Contoh:

[-9.52, None, True, “saya”]

    Gunakan fungsi list()

    Contoh:

    list(“buku”) → ['b', 'u', 'k', 'u'];

    list((1, 2, 3)) → [1, 2, 3]

    list({1, 3, 6, 3}) → [1, 3, 6]
    
    
    - tuple
Urutan bilangan dan teks yang diapit oleh kurung biasa dan masing-masing elemennya dipisahkan dengan koma.

Contoh:

(-9.52, None, True, “saya”)

    Gunakan fungsi tuple()

    Contoh:

    tuple(“buku”) → ('b', 'u', 'k', 'u');

    tuple((1, 2, 3)) → (1, 2, 3)

    tuple({1, 3, 6, 3}) → (1, 3, 6)
    
    
2. Set

    -set
Urutan bilangan dan teks yang diapit oleh kurung biasa dan masing-masing elemennya dipisahkan dengan koma. Setiap elemennya bernilai unik.

Contoh:

{1, 4, 4, 3} → {1, 3, 4}

    Gunakan fungsi set()

    Contoh:

    set(“buku”) → ['b', 'k', 'u'];

    set((1, 2, 3)) → {1, 2, 3}

    set([1, 3, 6, 3]) → {1, 3, 6}

In [5]:
text = "Belajar Python di DQLab."
print(list(text))
print(tuple(text))
print(set(text))

# 1. Pada baris 2, perintah list akan mengubah text menjadi tipe data list dan mencetak nilainya.

# 2. Pada baris 3, perintah tuple akan mengubah text menjadi tipe data tuple dan mencetak nilainya.

# 3. Pada baris 4, perintah set akan mengubah text menjadi tipe data set dan mencetak nilainya.

['B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'D', 'Q', 'L', 'a', 'b', '.']
('B', 'e', 'l', 'a', 'j', 'a', 'r', ' ', 'P', 'y', 't', 'h', 'o', 'n', ' ', 'd', 'i', ' ', 'D', 'Q', 'L', 'a', 'b', '.')
{'e', 'r', 'L', 'n', 'D', 'o', 'a', 'd', 'i', 'y', 'h', 't', 'b', 'B', 'P', 'Q', 'l', '.', ' ', 'j'}

# Menggunakan Library di Python

Menggunakan perintah import nama_library atau import nama_library as alias.

In [ ]:
import math
import numpy as np
import pandas as pd
import seaborn as sns